In [1]:
from skt.gcp import (
    PROJECT_ID,
    bq_insert_overwrite,
    bq_to_df,
    bq_to_pandas,
    get_bigquery_client,
    bq_table_exists,
    get_max_part,
    load_query_result_to_table,
    pandas_to_bq,
    pandas_to_bq_table,
    load_bigquery_ipython_magic,
    get_bigquery_client,
    _print_query_job_results,
    load_query_result_to_partitions
    
)

from skt.ye import (
    get_hdfs_conn,
    get_spark,
    hive_execute,
    hive_to_pandas,
    pandas_to_parquet,
    slack_send,
    get_secrets
)

In [2]:
from datetime import datetime, timedelta

In [3]:
execution_dt = datetime.strptime(current_dt, '%Y-%m-%d')
execution_dt_one_ago = (execution_dt - timedelta(days=1))
lag_current_dt= execution_dt_one_ago.strftime('%Y-%m-%d')
ttl = int(ttl)
print(f'execution_dt: {current_dt}')
print(f"state: {state}")
print(f"ttl: {ttl}")

NameError: name 'current_dt' is not defined

In [4]:
""" no partition data in comm (snapshot) """
PROJECT_ID = "skt-datahub"
db_name  = "comm"
tmbr_meta_tbl= "mp_taxonomies_brand" 
tmbr_meta_map_tbl = "mp_taxonomies_brandMapp"

In [5]:
save_db_name = 'adot_reco_dev'

In [6]:
bq_clinet = get_bigquery_client()

In [201]:
## Meta table 전처리 로직: 중복 product 처리 (제거 x -> 메타 합산)
query = f"""

WITH META_TABLE AS (
    SELECT  brand_id,
            count(distinct brand_name) over(partition by COALESCE(TRIM(LOWER(brand_name)), '')) as brand_cnt,
            COALESCE(TRIM(LOWER(brand_name)), '') as brand_name,
            del_yn,
            display_name
            prm_brand_name,
            categories,
            COALESCE(TRIM(LOWER(category_large_name)), '') as category_large_name,
            COALESCE(TRIM(LOWER(category_medium_name)), '') as category_medium_name,
            COALESCE(TRIM(LOWER(category_small_name)), '') as category_small_name,
            COALESCE(TRIM(LOWER(description)), '') as description

    FROM    {db_name}.{tmbr_meta_tbl}
    WHERE brand_name is not null and brand_name !='' and LOWER(brand_name) NOT LIKE '%test%'
),

DUPLICATED_BRAND_TABLE AS(
    SELECT  brand_name, 
            ARRAY_AGG(category_large_name) as category_large_names,
            ARRAY_AGG(category_medium_name) as category_medium_names,
            ARRAY_AGG(category_small_name) as category_small_names,
            ARRAY_AGG(description) as descriptions,

    FROM (
        SELECT  brand_name,
                category_large_name,
                category_medium_name,
                category_small_name, 
                description

        FROM META_TABLE
        WHERE brand_name !='' AND brand_cnt > 1 
    )
    GROUP BY brand_name
),

NON_DUPLICATED_BRAND_TABLE AS(
    SELECT  brand_name,
            category_large_name,
            category_medium_name,
            category_small_name, 
            description

    FROM META_TABLE
    WHERE brand_name !='' AND brand_cnt = 1
),

MERGED_DUPLICATE_BRAND_TABLE AS(
    SELECT  brand_name,
            ARRAY_TO_STRING(category_large_names, ',') as category_large_name,
            ARRAY_TO_STRING(category_medium_names, ',') as category_medium_name,
            ARRAY_TO_STRING(category_small_names, ',') as category_small_name,
            ARRAY_TO_STRING(descriptions, ',') as description,
    FROM(
        SELECT  brand_name,
                ARRAY(
                    SELECT category_large_name
                    FROM UNNEST(category_large_names) AS category_large_name 
                    WHERE category_large_name != ''
                  ) AS category_large_names,
                ARRAY(
                    SELECT category_medium_name 
                    FROM UNNEST(category_medium_names) AS category_medium_name 
                    WHERE category_medium_name != ''
                  ) AS category_medium_names,

                ARRAY(
                    SELECT category_small_name
                    FROM UNNEST(category_small_names) AS category_small_name
                    WHERE category_small_name != ''
                  ) AS category_small_names,
                ARRAY(
                    SELECT description
                    FROM UNNEST(descriptions) AS description
                    WHERE description != ''
                  ) AS descriptions     

        FROM DUPLICATED_BRAND_TABLE
    )
)
SELECT  *,
        PARSE_DATE('%Y-%m-%d', '{current_dt}') as dt 
FROM (
    SELECT *,

    FROM MERGED_DUPLICATE_BRAND_TABLE

    UNION ALL

    SELECT *
    FROM NON_DUPLICATED_BRAND_TABLE
) AS A
"""

In [202]:
from google.cloud.bigquery.job import QueryJobConfig

In [203]:
job_config = QueryJobConfig()
temp_table = f'{PROJECT_ID}.temp_1d.tmbr_temp_table'
job_config.destination = temp_table
job_config.write_disposition = 'WRITE_TRUNCATE'

In [204]:
# 임시 테이블 생성
query_job = bq_clinet.query(query, job_config=job_config)
query_job.result()

In [107]:
query = f"""
WITH META_TABLE AS (
    SELECT  *
    FROM {temp_table}
    WHERE dt = '{current_dt}'
),

SUB_WORD_TABLE AS (

    SELECT  brand_word,
            brand_name,
            category_large_name,
            category_medium_name,
            category_small_name,
            description,
            count(brand_word) over(partition by brand_word) as word_cnt,
            dt
    FROM (
        SELECT  category_large_name,
                category_medium_name,
                category_small_name,
                description,
                brand_name,
                brand_word,
                dt
        FROM META_TABLE,
        UNNEST(SPLIT(brand_name, ' ')) AS brand_word
    )
),
tmbr_etymology_table AS (
    SELECT  distinct A.*,
            B.del_yn
    FROM (

        SELECT distinct brand_name,
               category_large_name,
               category_medium_name,
               category_small_name,
               description,
               CASE 
                   WHEN category_medium_name !='' OR category_small_name !='' THEN 'N'
                   ELSE 'Y'
               END AS is_empty,
               dt

        FROM SUB_WORD_TABLE
        WHERE brand_name = brand_word
    )AS A
    LEFT JOIN  (
        SELECT  distinct COALESCE(TRIM(LOWER(brand_name)), '') as brand_name,
                del_yn

        FROM  {db_name}.{tmbr_meta_tbl}
        WHERE brand_name is not null and brand_name !=''
    ) AS B
    ON A.brand_name = B.brand_name
),

derivative_table AS(
    SELECT  brand_word,
            ARRAY_TO_STRING(ARRAY_AGG(brand_name), '||') as derivative_brands
    FROM(
        SELECT  distinct brand_word,
                         brand_name
        FROM SUB_WORD_TABLE
        WHERE brand_word in (SELECT distinct brand_name FROM tmbr_etymology_table) 
        AND brand_name != brand_word AND brand_word !=''
    )
    GROUP BY brand_word
)

SELECT distinct *
FROM (
    SELECT  A.*,
            DENSE_RANK() OVER (ORDER BY A.brand_name) AS new_brand_id,
            B.derivative_brands

    FROM tmbr_etymology_table AS A

    LEFT JOIN (
        SELECT  brand_word,
                derivative_brands
        FROM derivative_table
    ) AS B
    ON A.brand_name = B.brand_word
)
"""

In [108]:
bq_insert_overwrite(sql=query, destination=f'{PROJECT_ID}.{save_db_name}.tmbr_etymology_table', partition='dt')

query: select * from skt-datahub.temp_1d.eba31ac5_ed17_45f6_ac09_5b1bccc40b18 where dt='2024-07-06'
destination: skt-datahub.adot_reco_dev.tmbr_etymology_table$20240706
total_rows: 3281
slot_secs: 0.835

In [147]:
ttl_query = f"""
ALTER TABLE
  {PROJECT_ID}.{save_db_name}.tmbr_etymology_table
SET
  OPTIONS(partition_expiration_days={ttl})
"""
bq_clinet.query(ttl_query).result()

## Category mapping

In [191]:
query = f"""
WITH META_TABLE AS (
    SELECT distinct *
    FROM {temp_table}
    WHERE dt = '{current_dt}'
),
TEMP_TABLE AS (
    SELECT  brand_name,
            category_large_name,
            CASE
                WHEN category_medium_name = '' AND category_small_name = '' THEN ''
                WHEN category_medium_name = '' THEN category_small_name
                WHEN category_small_name = '' THEN category_medium_name
                WHEN category_medium_name = category_small_name THEN category_medium_name
                WHEN STRPOS(category_medium_name, category_small_name) > 0 THEN category_small_name
                ELSE CONCAT(category_medium_name, ',', category_small_name)
            END AS categories,
            description,
            dt
    FROM  META_TABLE
)

SELECT *
FROM TEMP_TABLE 
WHERE categories !=''
"""

In [139]:
categories_mapping_df = bq_to_pandas(query)

Warning: exception on print statistics
unsupported operand type(s) for /: 'NoneType' and 'int'
Downloading: 100%|██████████|

In [140]:
categories_mapping = categories_mapping_df.set_index('brand_name').to_dict()['categories']

In [144]:
import json
categories_mapping_json = json.dumps(categories_mapping, ensure_ascii=False)

In [224]:
query = f"""
CREATE TEMP FUNCTION get_categories(brand_name STRING)
RETURNS STRING
LANGUAGE js AS '''
  var root_product_mapping_json_set = {categories_mapping_json};
  return (brand_name in root_product_mapping_json_set) ? root_product_mapping_json_set[brand_name] : '';
''';

WITH META_TABLE AS (
    SELECT distinct *
    FROM {temp_table}
    WHERE dt = '{current_dt}'
),

ARRAY_TABLE AS (
    SELECT *
    FROM (
        SELECT  *,
                CASE
                    WHEN category_medium_name = '' AND category_small_name = '' THEN ''
                    WHEN category_medium_name = '' THEN category_small_name
                    WHEN category_small_name = '' THEN category_medium_name
                    WHEN category_medium_name = category_small_name THEN category_medium_name
                    WHEN STRPOS(category_medium_name, category_small_name) > 0 THEN category_small_name
                    ELSE CONCAT(category_medium_name, ',', category_small_name)
                END AS categories,
                SPLIT(derivative_brands, '||') as derivative_brand_array
        FROM {PROJECT_ID}.{save_db_name}.tmbr_etymology_table
    )
),
exploded_data AS (
  SELECT 
    brand_name,
    description,
    is_empty,
    del_yn,
    categories,
    derivative_brand_element
  FROM ARRAY_TABLE,
  UNNEST(derivative_brand_array) AS derivative_brand_element
),

MERGED_TABLE AS (
    SELECT distinct brand_name,
                    CASE
                        WHEN categories = '' AND categories_from_derivative = '' THEN ''
                        WHEN categories = '' AND categories_from_derivative != '' THEN categories_from_derivative
                        ELSE categories
                    END AS categories,
                    description

    FROM (
        SELECT brand_name,
               description,
               categories,
               get_categories(derivative_brand_element) AS categories_from_derivative,
               del_yn
        FROM exploded_data
    )
    WHERE categories_from_derivative!='' OR categories!=''
)

SELECT *
FROM (
    SELECT  brand_name,
            CASE
                WHEN category_medium_name = '' AND category_small_name = '' THEN ''
                WHEN category_medium_name = '' THEN category_small_name
                WHEN category_small_name = '' THEN category_medium_name
                WHEN category_medium_name = category_small_name THEN category_medium_name
                WHEN STRPOS(category_medium_name, category_small_name) > 0 THEN category_small_name
                ELSE CONCAT(category_medium_name, ',', category_small_name)
            END AS categories,
            description,
            PARSE_DATE('%Y-%m-%d', '{current_dt}') as dt 
    FROM  META_TABLE
    WHERE brand_name not in (SELECT distinct brand_name FROM MERGED_TABLE)
)
WHERE categories!=''

UNION ALL
SELECT  *,
        PARSE_DATE('%Y-%m-%d', '{current_dt}') as dt 
FROM MERGED_TABLE
WHERE categories !=''
"""

In [226]:
bq_insert_overwrite(sql=query, destination=f'{PROJECT_ID}.{save_db_name}.tmbr_preprocessed_meta_table', partition='dt')

In [227]:
ttl_query = f"""
ALTER TABLE
  {PROJECT_ID}.{save_db_name}.tmbr_preprocessed_meta_table
SET
  OPTIONS(partition_expiration_days={ttl})
"""
bq_clinet.query(ttl_query).result()

## LOG JOIN

In [7]:
table = "recgpt_log_sequence_lag_daily_prd"

In [8]:
start_dt ='2024-05-01'

In [9]:
query = f"""
WITH LOG_MERGED_TABLE AS(
    SELECT  A.*,
            COALESCE(B.categories, '') as categories
    FROM (
    SELECT distinct COALESCE(REPLACE(LOWER(item),' ', ''), '') as item
    FROM adot_reco.recgpt_log_sequence_lag_daily_prd
    WHERE dt > '{start_dt}' and type ='tmbr'
    ) AS A

    LEFT JOIN (
    SELECT  COALESCE(REPLACE(LOWER(brand_name),' ', ''), '') as brand_name,
            categories, 
            description,
            dt
    FROM {PROJECT_ID}.{save_db_name}.tmbr_preprocessed_meta_table
    ) AS B

    ON A.item = b.brand_name
),

NO_CATEGORY_TABLE AS (
    SELECT  A.*,
            COALESCE(B.categories, '') as categories
    FROM (
        SELECT distinct item
        FROM LOG_MERGED_TABLE
        WHERE categories ='' and item !=''
    )AS A
    LEFT JOIN (
        SELECT distinct brand_name, categories
        FROM {PROJECT_ID}.{save_db_name}.tmbr_preprocessed_meta_table
    ) AS B
    ON A.item LIKE CONCAT('%', B.brand_name, '%') 
        
)

SELECT *
FROM LOG_MERGED_TABLE
WHERE categories !='' and item !=''

UNION ALL

SELECT * 
FROM NO_CATEGORY_TABLE

"""

In [10]:
test = bq_to_pandas(query)

query:
WITH LOG_MERGED_TABLE AS(
    SELECT  A.*,
            COALESCE(B.categories, '') as categories
    FROM (
    SELECT distinct COALESCE(REPLACE(LOWER(item),' ', ''), '') as item
    FROM adot_reco.recgpt_log_sequence_lag_daily_prd
    WHERE dt > '2024-05-01' and type ='tmbr'
    ) AS A

    LEFT JOIN (
    SELECT  COALESCE(REPLACE(LOWER(brand_name),' ', ''), '') as brand_name,
            categories,
            description,
            dt
    FROM skt-datahub.adot_reco_dev.tmbr_preprocessed_meta_table
    ) AS B

    ON A.item = b.brand_name
),

NO_CATEGORY_TABLE AS (
    SELECT  A.*,
            COALESCE(B.categories, '') as categories
    FROM (
        SELECT distinct item
        FROM LOG_MERGED_TABLE
        WHERE categories ='' and item !=''
    )AS A
    LEFT JOIN (
        SELECT distinct brand_name, categories
        FROM skt-datahub.adot_reco_dev.tmbr_preprocessed_meta_table
    ) AS B
    ON A.item LIKE CONCAT('%', B.brand_name, '%')

)

SELECT *
FROM LOG_MERGED_TABLE
WHERE categories !='' and item !=''

UNION ALL

SELECT *
FROM NO_CATEGORY_TABLE


destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon31eeef023be003158561e8953fd8dabe5dea2653c4b9d60f74742133a14a54a0
total_rows: 156
slot_secs: 79.422

Downloading: 100%|██████████|

In [14]:
import pandas as pd
pd.set_option('display.max_rows', 500)

In [15]:
test.loc[test.categories!='']

               item  categories
4             할리스커피          카페
5     개별(10/40)베이커리        베이커리
6          cu(0day)         편의점
7             공차코리아          카페
8      아침고요수목원가족동물원        테마파크
12         sk텔레콤(주)          통신
17       타이드스퀘어투어비스          여행
18          부천아쿠아리움        테마파크
19         cu(0day)        베이커리
20            도미노피자          피자
21            도미노피자          피자
22            도미노피자          피자
23            반올림피자          피자
24            sk스토아   쇼핑,온라인 쇼핑
25           배스킨라빈스       아이스크림
26             컬쳐랜드      쇼핑,상품권
27              폴바셋          카페
28            sk렌터카      여행,렌터카
29            sk렌터카       생활,교통
30           tmap대리       생활,교통
31           유가네닭갈비       외식,한식
32           유가네닭갈비       외식,한식
33              그리팅       쇼핑,식품
34              그리팅      외식,아시아
35              그리팅   쇼핑,온라인 쇼핑
36            서울스카이        테마파크
37       롯데월드어드벤처부산        테마파크
38       롯데월드어드벤처부산        테마파크
39             광동상회   쇼핑,온라인 쇼핑
40               던킨          카페
41          크래버대게나라       외식,한식
42              피자헛          피자
43          메가mgc커피          카페
44             gs25         편의점
45             gs25        베이커리
46           아모레퍼시픽          뷰티
47            이니스프리          뷰티
48            이니스프리          뷰티
49            이니스프리          뷰티
50            파리크라상        베이커리
51              cgv          영화
52             카페베네          카페
53               cu         편의점
54               cu        베이커리
55            엔제리너스          카페
56            세븐일레븐         편의점
57             11번가   쇼핑,온라인 쇼핑
58             11번가         콘텐츠
59             11번가   쇼핑,온라인 쇼핑
60              사이판          여행
61              사이판        액티비티
62              사이판       여행,숙박
63              사이판      쇼핑,쇼핑몰
64              사이판      여행,렌터카
65              사이판      외식,아시아
66             메가박스          영화
67            미스터피자          피자
68          tmap렌터카       생활,교통
69          대구아쿠아리움  테마파크,아쿠아리움
70             원스토어         콘텐츠
71              flo         콘텐츠
72              flo         콘텐츠
73            미스터힐링          카페
74        파라다이스스파도고        테마파크
75        파라다이스스파도고     테마파크,스파
76           타요키즈카페   테마파크,키즈카페
77             아이피아          패션
78             리바이북          생활
79             달콤커피          카페
80            신라면세점      여행,면세점
81              스코피       생활,사진
82              스코피    생활,생활 편의
83          뽀로로키즈카페   테마파크,키즈카페
84           신세계면세점      여행,면세점
85             롯데리아    외식,패스트푸드
86             롯데리아    외식,패스트푸드
87             퍼블로그       생활,사진
88             퍼블로그      쇼핑,쇼핑몰
89             vips  외식,패밀리레스토랑
90              더벤티          카페
91             tgif  외식,패밀리레스토랑
92           스피드메이트          교통
93           스피드메이트       생활,교통
94           투썸플레이스          카페
95           투썸플레이스          카페
96             빌리엔젤        베이커리
97           마티나라운지    여행,호텔라운지
98        롯데월드아쿠아리움  테마파크,아쿠아리움
99           파파존스피자          피자
100            키자니아        테마파크
101      sk브로드밴드btv         콘텐츠
102            착한소비   쇼핑,온라인 쇼핑
103            신한카드          금융
104             다이소          쇼핑
105             다이소      쇼핑,쇼핑몰
106            서울랜드        테마파크
107            온더보더  외식,패밀리레스토랑
108            온더보더  외식,패밀리레스토랑
109             더예약          카페
110             더예약  외식,패밀리레스토랑
111              오픽          교육
112           여행가자고          여행
113            파스쿠찌          카페
114            파스쿠찌          카페
115             야놀자       여행,숙박
116               괌          여행
117               괌          통신
118               괌        액티비티
119               괌       생활,교통
120               괌       여행,숙박
121               괌    생활,생활 편의
122            롯데월드        테마파크
123            롯데월드  테마파크,아쿠아리움
124        부산엑스더스카이        테마파크
125             드롭탑          카페
126           라그릴리아  외식,패밀리레스토랑
127         클럽디오아시스   테마파크,워터파크
128          설악워터피아     테마파크,스파
129          설악워터피아   테마파크,워터파크
130           cj더마켓          쇼핑
131            기프티콘   쇼핑,온라인 쇼핑
132            기프티콘   쇼핑,온라인 쇼핑
133            기프티콘       생활,교통
134            기프티콘      쇼핑,상품권
135            기프티콘      쇼핑,쇼핑몰
136            뚜레쥬르        베이커리
137            뚜레쥬르        베이커리
138    정글대탐험하이원추추파크        테마파크
139             이월드        테마파크
140          아쿠아플라넷  테마파크,아쿠아리움
141             그린카      여행,렌터카
142           롯데시네마          영화
143  sealife부산아쿠아리움  테마파크,아쿠아리움
144  sealife부산아쿠아리움        테마파크
145              쿤달          뷰티
146              쿤달          쇼핑
147           아쿠아필드   테마파크,워터파크
148            sk매직   쇼핑,온라인 쇼핑
149            sk매직   쇼핑,온라인 쇼핑
150            sk매직    생활,생활 편의
151           워커힐호텔       여행,숙박
152           워커힐호텔  외식,패밀리레스토랑
153           롯데면세점          여행
154           파리바게뜨        베이커리
155           파리바게뜨        베이커리

In [12]:
test.loc[test.categories=='']

             item categories
0           더플레이스
1           안경매니져
2           skm&s
3             나뚜루
9           포도뮤지엄
10        아웃백스테이크
11           룰루메딕
13          배달의민족
14         t스마트오더
15  sk브로드밴드btv케이블
16    s.i.village